<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card w-100 m-b-3">
      <div class="card-body">
          <h2> <%= @collection.title %></h2>
          <%= @collection.description %>
          
      </div>
  <% if user_signed_in? %>
      <div class="card-footer">
        <%= link_to "Back", collections_path, class: "btn btn-default" %>
        <%= link_to "edit", edit_collection_path(@collection), class: "btn btn-primary"  %>
        <%= link_to "Delete", collection_path(@collection), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>      
    <% end %>
      </div>
      </div>
    </div>
  </div>
</div>

<h2>Discuss the <%= @collection.title %> Series</h2>

<%= render partial:'comments/comments', locals: { commentable: @collection } %>